// Initial font variable
$family-sans-serif: "Lato", sans-serif;

// Initial color variables
$red: #e66156;
$orange: #eba44a;
$yellow: #fadd89;
$green: #7bb182;
$blue: #6599f0;
$purple: #5a609a;
$pink: #b05775;
$dark-purple: #2a307c;
$white: #ffffff;
$gray: #777;
$light-gray: #9e9e9e;
$very-light-gray: #eeeeee;
$black: #000000;
// Derived variables
$primary: $purple;
// $hr-height: 1px;

$body-color: $white;
$spacer: .5rem;