@import "../../styles/variables";

.hero {
  z-index: 10;
}

body {
  margin: 0;
  overflow: hidden;
}

.wrapper {
  position: relative;
  height: 50vh;
  margin: -200px;
}

[class|="confetti"] {
  position: absolute;
}

$colors: ($orange, $green, $white);

@for $i from 0 through 350 {
  $w: random(28);
  $l: random(100);
  .confetti-#{$i} {
    width: #{$w}px;
    height: #{$w * 1.2}px;
    background-color: nth($colors, random(3));
    top: -10%;
    left: unquote($l + "%");
    opacity: random() + 0.5;
    transform: rotate3d(random(1), random(1), random(1), #{random() * 360}deg);
    animation: drop-#{$i}
      unquote(3000 + random(600) + "ms")
      unquote(random(3000) + "ms");
    animation-iteration-count: 1;
  }

  @keyframes drop-#{$i} {
    100% {
      top: 190%;
      left: unquote($l + random(66)-33+"%");
      transform: rotate3d(
        random(1),
        random(1),
        random(1),
        #{(random(200)-100) * 32}deg
      );
    }
  }
}
